<mat-card class="detalis-card">
  <mat-card-content>
      <div class=" items-start">
          <p class="mt-2">
            Name :
            {{details.name}}
          </p>
          <p class="font-bold mt-5">
            Model  :
              {{details.model }}
          </p>
          <p class="mt-2">
            MGLT :
              {{details.MGLT }}
          </p>
          <p class="mt-2">
            Consumables :
              {{details.consumables }}
          </p>
          <p class="mt-2">
            Crew :
              {{details.crew }}
          </p>
          <p class="mt-2">
            Starship lass :
              {{details.starship_class  }}
          </p>
          <p class="mt-2">
            Passengers :
              {{details.passengers  }}
          </p>
          <p class="mt-2">
            Length :
              {{details.length  | length}}
          </p>
      </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button  (click)="goBack()">Back</button>
  </mat-card-actions>
</mat-card>
